.header c{
    color:black;
    font-size: 2rem;
    font-weight: 600;
    text-align: center; 
    margin-right: 20%;
    padding-right: 10%;
}

.blue{
    color: #9a97f3;
    font-size: 2rem;
    font-weight: 600;
    text-align: center; 
    margin-right: 15%;

  
}

.header a{
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center; 
    

}

.header{
    padding-top: 2%;
}